<div class="sidebar" role="aside" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
		<header class="header">
			{{#if @blog.logo}}
			<a href="/">
				<img id="blog" class="logo" src="{{@blog.logo}}">
			</a>
			{{else}}
			<h1 class="title"><a href="/">{{@blog.title}}</a></h1>
			{{/if}}

			<div class="separator"></div>

			<p class="description">{{{@blog.description}}}</p>
            <p class="description">技術ネタは<a href="//qiita.com/tjun">qiita</a></p>
            <p class="description">飯ブログは<a href="//tumblr.tjun.org">tumblr</a></p>

			<div class="social-icons">
				<a href="https://github.com/tjun" class="icon icon-github"></a>
				<a href="https://twitter.com/tjun" class="icon icon-twitter"></a>
				<a href="/rss" class="icon-rss"></a>
			</div>
		</header>
	</div>
